<h1>Name: <%= @pirate.name%></h1>
<h2>Weight: <%= @pirate.weight %></h2>
<h2>Height: <%= @pirate.height %></h2>
<br>
<h2>First Ship: <%= @ships[0].name %></h2>


<h2>Second Ship: <%= @ships[1].name %></h2>